@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #181818;
  color: #fff;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.min-column-height {
  min-height: 190px;
}
